/.idea/uiDesigner.xml
/.idea/workspace.xml
/.gradle/
/.settings/
/bin/
/bin-debug/
/bin-release/
/build/
.DS_Store
.actionScriptProperties
.flexLibProperties
.project
local.properties
*.sublime-workspace
*.sublime-project
